/* All */
html {
  font-family: "Outfit", Helvetica, Arial, sans-serif;
  background: #010922;
  color: white;
}

/* Header */
.navbar {
  display: flex;
  background: #010922;
  width: 100%;
  justify-content:space-between;
  align-items: center;
}

.logo {
  width: 90px;
  height: 90px;
  margin-left: 60px;
  padding: 0px;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 140px;
}

.nav-list li {
  margin: 0 20px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav-list a:hover {
  text-decoration: underline;
}
